<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Admin</title>
  </head>
  <body>
    <h1>Admin List</h1>
    <table>
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Role</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="admin : ${adminList}">
          <td th:text="${admin.fullName}"></td>
          <td th:text="${admin.role}"></td>
          <td th:text="${admin.email}"></td>
          <td th:text="${admin.phone}"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
