<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <nav class="main-menu" th:fragment="nav">
      <link rel="stylesheet" href="css/navbar.css" />
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      />
      <h1>INVENCIO</h1>
      <img
        class="logo"
        src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/4cfdcb5a-0137-4457-8be1-6e7bd1f29ebb"
        alt=""
      />
      <ul>
        <li class="nav-item">
          <a href="#">
            <i class="fa fa-house nav-icon"></i>
            <span class="nav-text">Home</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="#">
            <i class="fa fa-user nav-icon"></i>
            <span class="nav-text">Dashboard</span>
          </a>
        </li>

        <li class="nav-item">
          <a data-th-href="@{/viewstock}">
            <i class="fa fa-calendar-check nav-icon"></i>
            <span class="nav-text">Stock</span>
          </a>
        </li>

        <li class="nav-item">
          <a data-th-href="@{/low-stock}">
            <i class="fa fa-person-running nav-icon"></i>
            <span class="nav-text">Low Stocks</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="#">
            <i class="fa fa-sliders nav-icon"></i>
            <span class="nav-text">Reports</span>
          </a>
        </li>
      </ul>
      <script src="js/navbar.js"></script>
    </nav>
  </body>
</html>
