@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Roboto:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --col-dark: #250000;
  --col-light: #f5fff4;
}

body {
  font-family: "Nunito", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

  /* background-image: url(https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/5baf8325-ed69-40b0-b9d2-d8c5d2bde3b0); */
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--col-dark);
}

/* MAIN MENU */

/* main section */
article {
  width: 100%;
  height: 100%;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 1rem;
}

.span2 {
  grid-column: span 2;
}
/* article 1 */
#art1 {
  overflow-y: auto;
  height: 40vh;
  padding: 0.5rem;
  scrollbar-width: none;

  h2 {
    color: rgb(101, 168, 0);
    text-shadow: 2px 2px 2.5px rgba(0, 0, 0, 0.2);
  }
}
#art1::-webkit-scrollbar {
  display: none;
}

.tot-stock {
  display: flex;
  justify-content: space-between;
  margin-block: 0.5rem;
  padding-block: 0.75rem;
  padding-inline: 1.5rem;
  border-radius: 1.2rem;
  box-shadow: 2px 2px 5px slategray;
  background: white;

  p {
    font-size: 1.25rem;
    font-weight: bold;
  }
  span {
    color: rgb(101, 168, 0);
    font-weight: bold;
  }
}
/* articl 2 start */
#art2 {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  overflow-y: auto;
  height: 40vh;
  background: white;
  padding: 1rem;
}
#art2::-webkit-scrollbar {
  display: none;
}
#personal-detail {
  display: grid;
  grid-template-columns: 35fr 65fr;
  gap: 1rem;
  h3 {
    color: rgb(255, 20, 52);
    font-weight: bold;
  }
  h4 {
    color: rgb(0, 102, 255);
    font-weight: bold;
  }
  p {
    font-weight: bold;
  }
}

#art2-imgcontainer {
  position: fixed;
  right: 0;
  top: 0;
  margin: 1rem;
  padding: 1rem;
}
/* article 2 end */

/* article 3 start */
#art3 {
  height: 60vh;
  width: 100%;
  padding: 0.5rem;
  scrollbar-width: none;
}
#art3-container {
  width: 100%;
  height: 100%;
  background: white;
}

/* article 3 end */

/* article 4 */
#art4 {
  overflow-y: auto;
  height: 60vh;
  padding: 0.5rem;
  scrollbar-width: none;
}
#art4::-webkit-scrollbar {
  display: none;
}

#art4 h2 {
  color: orangered;
  font-weight: bold;
  padding: 0.5rem;
  text-shadow: 2px 2px 2.5px rgba(0, 0, 0, 0.2);
}

#art4-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create three equal columns */
  gap: 0.5rem;
  width: 100%;
}

.low-stock {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  padding: 0.75rem;
  width: auto;
  max-height: 5rem;
  border-radius: 20px;
  background: white;
  p {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0.5rem;
  }
  span {
    display: block;
    width: 100%;
    text-align: end;
    color: #ff2626;
    font-weight: bold;
    padding-right: 0.25rem;
  }
}
