<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>INVENCIO</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link rel="stylesheet" href="./dash.css" />
  </head>
  <body>
    <body>
      <main>
        <!-- main has 2 sections -->
        <!-- section 1 -->
        <nav class="main-menu">
          <h1>INVENCIO</h1>
          <img
            class="logo"
            src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/4cfdcb5a-0137-4457-8be1-6e7bd1f29ebb"
            alt=""
          />
          <ul>
            <li class="nav-item active">
              <b></b>
              <b></b>
              <a href="#">
                <i class="fa fa-house nav-icon"></i>
                <span class="nav-text">Home</span>
              </a>
            </li>

            <li class="nav-item">
              <b></b>
              <b></b>
              <a href="#">
                <i class="fa fa-user nav-icon"></i>
                <span class="nav-text">Dashboard</span>
              </a>
            </li>

            <li class="nav-item">
              <b></b>
              <b></b>
              <a href="#">
                <i class="fa fa-calendar-check nav-icon"></i>
                <span class="nav-text">Stock</span>
              </a>
            </li>

            <li class="nav-item">
              <b></b>
              <b></b>
              <a href="#">
                <i class="fa fa-person-running nav-icon"></i>
                <span class="nav-text">Activities</span>
              </a>
            </li>

            <li class="nav-item">
              <b></b>
              <b></b>
              <a href="#">
                <i class="fa fa-sliders nav-icon"></i>
                <span class="nav-text">Reports</span>
              </a>
            </li>
          </ul>
        </nav>

        <!-- section 2 -->

        <section id="main-content">
          <section class="container">
            <div></div>
            <div class="span2"></div>
          </section>
          <section class="container">
            <div class="span2"></div>
            <div></div>
          </section>
        </section>
      </main>
    </body>

    <script src="./dash.js"></script>
  </body>
</html>
