<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>INVENCIO</title>

  <link rel="stylesheet" href="css/dash.css" />
</head>

<body>
  <section id="main-content">
    <section class="container">
      <article id="art1">
        <h2>Total Stock</h2>
        <div id="art1-container">
          <div class="tot-stock">
            <p>product</p>
            <span>200kg</span>
          </div>
          <div class="tot-stock">
            <p>product</p>
            <span>200kg</span>
          </div>
          <div class="tot-stock">
            <p>product</p>
            <span>200kg</span>
          </div>
          <div class="tot-stock">
            <p>product</p>
            <span>200kg</span>
          </div>
          <div class="tot-stock">
            <p>product</p>
            <span>200kg</span>
          </div>
          <div class="tot-stock">
            <p>product</p>
            <span>200kg</span>
          </div>
          <div class="tot-stock">
            <p>product</p>
            <span>200kg</span>
          </div>
          <div class="tot-stock">
            <p>product</p>
            <span>200kg</span>
          </div>
          <div class="tot-stock">
            <p>product</p>
            <span>200kg</span>
          </div>
          <div class="tot-stock">
            <p>product</p>
            <span>200kg</span>
          </div>
          <div class="tot-stock">
            <p>product</p>
            <span>200kg</span>
          </div>
        </div>
      </article>
      <!-- article 2 -->
      <article class="span2" id="art2">
        <div id="personal-detail">
          <h3>ID :</h3>
          <p>20035875</p>

          <h3>Name :</h3>
          <p>Biswajeet</p>

          <h3>Role :</h3>
          <p>Seller</p>

          <h3>Contact Information :</h3>
          <p></p>
          <h4>Phone:</h4>
          <p>+91-XXXXXXXXXX</p>
          <h4>Email:</h4>
          <p>seller@example.com</p>
          <h4>Address:</h4>
          <p>123 Street Name, City, State, ZIP Code</p>

          <h3>Business Registration Details :</h3>
          <p></p>
          <h4>Business Registration Number:</h4>
          <p>BRN12345678</p>
          <h4>Tax Identification Number (TIN):</h4>
          <p>TIN987654321</p>
        </div>
        <div id="art2-imgcontainer">
          <img src="images/avatar.png" alt="Invencio Image" />
        </div>
      </article>
    </section>

    <!-- bottom section -->
    <section class="container">
      <!-- article 3 -->
      <article class="span2" id="art3">
        <div id="art3-container">
          <canvas id="myChart"></canvas>
        </div>
      </article>
      <!-- article 4 -->
      <article id="art4">
        <h2>Low Stock</h2>
        <div id="art4-container">
          <div class="low-stock">
            <p>product</p>
            <span>20kg</span>
          </div>
          <div class="low-stock">
            <p>product</p>
            <span>20kg</span>
          </div>
          <div class="low-stock">
            <p>product</p>
            <span>20kg</span>
          </div>
          <div class="low-stock">
            <p>product</p>
            <span>20kg</span>
          </div>
          <div class="low-stock">
            <p>product</p>
            <span>20kg</span>
          </div>
          <div class="low-stock">
            <p>product</p>
            <span>20kg</span>
          </div>
          <div class="low-stock">
            <p>product</p>
            <span>20kg</span>
          </div>
          <div class="low-stock">
            <p>product</p>
            <span>20kg</span>
          </div>
          <div class="low-stock">
            <p>product</p>
            <span>20kg</span>
          </div>
          <div class="low-stock">
            <p>product</p>
            <span>20kg</span>
          </div>
          <div class="low-stock">
            <p>product</p>
            <span>20kg</span>
          </div>
          <div class="low-stock">
            <p>product</p>
            <span>20kg</span>
          </div>
          <div class="low-stock">
            <p>product</p>
            <span>20kg</span>
          </div>
        </div>
      </article>
    </section>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="js/chart.js"></script>
</body>

<script src="js/dash.js"></script>

</html>