<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Database Developer</title>
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <section>
    <header class="header">
      <div class="container">
        <div class="logo">
          <h2>INVENCIO</h2>
        </div>
        <div class="nav-bar">
          <nav>
            <button onclick="window.location.href='/login'" class="btn-get-started">Dashboard Login</button>
          </nav>
        </div>
    </header>

    <main class="hero-section">
      <div class="container">
        <div class="text-content">
          <h1>Streamline Inventory, Maximize Efficiency!...</h1>
          <p>Stock Management System</p>
        </div>
        <div class="image-content">
          <img src="/images/INVENCIO.png" alt="Database Illustration" />
        </div>
      </div>
    </main>
  </section>
  <script src="js/script.js"></script>
</body>

</html>